
<!DOCTYPE html>


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="/public/css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div class="footer">
	<h1>WebFeed.com</h1>
	</div>
</body>
</html>