<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
      <link href="/public/css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="row">
            <div class="twitter">
                <img class="twitter" src="/images/twitter.png" width="100" height="100">
                <h2>Twitter</h2>
                <p>Get the latest tweets from Twitter.</p>
            </div>
            <div class="youtube">
                <img class="youtube" src="/images/youtube.png" width="100" height="100">
                <h2>YouTube</h2>
                <p>Watch the latest videos from YouTube.</p>
            </div>
            <div class="reddit">
                <img class="reddit" src="/images/reddit.png" width="100" height="100">
                <h2>Reddit</h2>
                <p>Get the latest news from Reddit</p>
            </div>
</div>

<body>
	
</body>
</html>
