

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="/public/css/styles.css" rel="stylesheet" type="text/css">
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	 
</head>
<body>
	<form method="post" >

	<h1>Login to Your Account</h1>
	<br/>
	<br/>
	<br/>
	<div class="container">
			<div class="input">
					<span class="glyphicon glyphicon-user"></span> 
					<input placeholder="Username" name="username" type="text" autofocus>
			</div>
	</div>
	<br/><br/>
	<div class="container>
		<div class="input">
				<span class="glyphicon glyphicon-lock"></span>
				<input placeholder="Password" name="password" type="password">
		</div>
	</div>

	<br/><br/>
	<div class="container">
	<input type="submit" value="Login" name="login">
	</div>

	</div>

	</form>


</body>
</html>






