<nav id="footer" class="navbar navbar-default navbar-fixed-bottom">
    <div class="navbar-header">
	<a class="navbar-brand" href="/">WebFeed</a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
	<ul class="nav navbar-nav">
	    <% if(typeof username == "string" && username) { %>
		<li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
		<li class="navbar-text"></i>Welcome, <%= username %></li>
            <% } else { %>
		<li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            <% } %>
	</ul>
	<ul class="nav navbar-nav navbar-right">
	    <li class="navbar-text"><span id="refresh-button" class="glyphicon glyphicon-refresh"></span></li>
	</ul>
    </div>
</nav>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>
