<nav id="footer" class="navbar navbar-default navbar-fixed-bottom">
    <div class="navbar-header">
	<a class="navbar-brand" href="/">WebFeed</a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
	<ul class="nav navbar-nav">
	    <% if(typeof username == "string" && username) { %>
		<li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
		<li class="navbar-text"></i>Welcome, <%= username %></li>
            <% } else { %>
		<li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            <% } %>
	</ul>
	<form class="navbar-form navbar-right" method="post">
	    <% if(filter.twitter == true) { %>
		<input type="hidden" name="twitter" value="0"/>
		<input id="checkbox-twitter" class="checkbox-source" type="checkbox" name="twitter" value="1" checked><label for="checkbox-twitter"></label>	
            <% } else { %>
		<input type="hidden" name="twitter" value="0"/>
		<input id="checkbox-twitter" class="checkbox-source" type="checkbox" name="twitter" value="1" unchecked><label for="checkbox-twitter"></label>	
            <% } %>

	    <% if(filter.youtube == true) { %>
		<input type="hidden" name="youtube" value="0" />
		<input id="checkbox-youtube" class="checkbox-source" type="checkbox" name="youtube" value="1" checked><label for="checkbox-youtube"></label>
	    <% } else { %>
		<input type="hidden" name="youtube" value="0" />
		<input id="checkbox-youtube" class="checkbox-source" type="checkbox" name="youtube" value="1" unchecked><label for="checkbox-youtube"></label>
	    <% } %>

	    <% if(filter.reddit == true) { %>
		<input type="hidden" name="reddit" value="0" />
		<input id="checkbox-reddit" class="checkbox-source" type="checkbox" name="reddit" value="1" checked><label for="checkbox-reddit"></label>
	    <% } else { %>
		<input type="hidden" name="reddit" value="0" />
		<input id="checkbox-reddit" class="checkbox-source" type="checkbox" name="reddit" value="1" unchecked><label for="checkbox-reddit"></label>
	    <% } %>

	    <% if(filter.nytimes == true) { %>
		<input type="hidden" name="nytimes" value="0" />
		<input id="checkbox-nytimes" class="checkbox-source" type="checkbox" name="nytimes" value="1" checked><label for="checkbox-nytimes"></label>
	    <% } else { %>
		<input type="hidden" name="nytimes" value="0" />
		<input id="checkbox-nytimes" class="checkbox-source" type="checkbox" name="nytimes" value="1" unchecked"><label for="checkbox-nytimes"></label>	
	    <% } %>

	    <select id="select-time" class="form-control" id="sel1">
		<option>Daily</option>
		<option>Weeky</option>
		<option>Monthly</option>
	    </select>
	    <input id="btn-refresh" class="btn btn-default" type="submit" value=""/>
	</form>
    </div>
</nav>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>
