<%include header.ejs%>
<div class="main-content">
    <% for(let i = 0; i < posts.length; i++) { %>
	<div class="item">
	    <% if(posts[i].source == "twitter") { %>
		<% var tweetURL = "https://twitter.com/" + posts[i].apiObject.user.screen_name + "/" + "status" + "/" + posts[i].apiObject.id_str; %>
		<blockquote class="twitter-tweet" data-lang="en">
		    <a href=<%= tweetURL %>></a>
		</blockquote>
	    <% } %>
	    <% if(posts[i].source == "youtube") { %>
		<% var youtubeURL = "https://www.youtube.com/embed/" + posts[i].apiObject.id %>
		<iframe class="youtube-video" src=<%= youtubeURL %> frameborder="0" allowfullscreen></iframe>
	    <% } %>
	</div>
    <% } %>
</div>
<%include footer.ejs%>
