<% include header.ejs %>
<div class="input">
    <h1>Login</h1>
    <br/><br/><br/>
    <form method="post">
	<span class="glyphicon glyphicon-user"></span> 
	<input placeholder="Username" name="username" type="text" autofocus>
	<br/><br/> 
	<span class="glyphicon glyphicon-lock"></span>
	<input placeholder="Password" name="password" type="password">
	<br/><br/>
	<input class="btn btn-default" type="submit" value="Login" name="login">
	<a href="signup">Sign Up</a>
    </form>
</div>
<% include footer.ejs %>





