<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
	<link href="/css/styles.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
	<form method="post">
	    <h1>Sign Up</h1>
	    <br/><br/>
	    <div class="container">
		<div class="input">
		    <span class="glyphicon glyphicon-user"></span> 
		    <input placeholder="Enter your name" name="name" type="text" autofocus>
		</div>
	    </div>
	    <br/><br/>
	    <div class="container">
		<div class="input">
		    <span class="glyphicon glyphicon-envelope"></span> 
		    <input placeholder="Enter your email" name="email" type="text">
		</div>
	    </div>
	    <br/><br/>
	    <div class="container">
		<div class="input">
		    <span class="glyphicon glyphicon-user"></span> 
		    <input placeholder="Username" name="username" type="text">
		</div>
	    </div>
	    <br/><br/>
	    <div class="container">
		<div class="input">
		    <span class="glyphicon glyphicon-lock"></span>
		    <input placeholder="Password" name="password" type="password">
		</div>
	    </div>
	    <br/><br/>
	    <div class="container">
		<input type="submit" value="Sign Up" name="signup">
	    </div>
	</form>
	<% include footer.ejs %>	
