<%include header.ejs%>
<div class="input">
    <h1>Sign Up</h1>
    <br/><br/>
    <form method="post">
	<span class="glyphicon glyphicon-user"></span> 
	<input placeholder="Enter your name" name="name" type="text" autofocus>
	<br/><br/>
	<span class="glyphicon glyphicon-envelope"></span> 
	<input placeholder="Enter your email" name="email" type="text">
	<br/><br/>
	<span class="glyphicon glyphicon-user"></span> 
	<input placeholder="Username" name="username" type="text">
	<br/><br/>
	<span class="glyphicon glyphicon-lock"></span>
	<input placeholder="Password" name="password" type="password">
	<br/><br/>
	<input class="btn btn-default" type="submit" value="Sign Up" name="signup">
    </form>
</div>
<% include footer.ejs %>	
