.input{
    text-align:center;
}
.input span{
    text-align:center;
}
body{
    padding-top:7em;
    text-align:center;
}
#footer *{
    background-color:aquamarine;
    color: black;
}


.row{
    position:relative;
}
.row .twitter{
    margin-top:5px;
   
}
.row .youtube{
     margin-top:50px;
    
}

.row .reddit{
     margin-top:50px;
    
}
