body {
    //background-color: #6bb29a;
    background-color: white;
    padding-bottom: 70px;
}

.main-content {
    text-align: center;
    margin: auto;
}

.twitter-tweet {
    margin: auto;
}

.youtube-video {
    display: block;
    margin: auto;
    width: 640px;
    height: 360px;
}

/* .reddit-card {
   
   } */

.input {
    text-align:center;
}

.input span {
    text-align:center;
}

#footer * {
    //background-color: #6bb29a;
    color: black;
}

#footer {
    border-top: 1px solid black;
    background-color: rgba(107, 178, 154, 0.6);
    //opacity: 0.8;
}

#btn-refresh {
    background: url(../images/icon_refresh_sm.png);  
    border-color: white;
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

#input-date {
    background-color: rgba(107, 178, 154, 0.6);
    border-color: white;
}

::-webkit-inner-spin-button { display: none; }
::-webkit-calendar-picker-indicator { background: rgba(107, 178, 154, 0.6); }

.checkbox-source {
    display:none;
}

.checkbox-source + label {
    width: 32px;
    height: 32px;
    display:inline-block;
    padding: 0 0 0 0px;
    margin: 0 20px 0 0px;
    opacity: 0.5;
}

.checkbox-source:checked + label {
    opacity: 1;
}

#checkbox-twitter + label {
    background: url(../images/icon_twitter_sm.png) no-repeat;
}

#checkbox-youtube + label {
    background: url(../images/icon_youtube_sm.png) no-repeat;
}

#checkbox-reddit + label {
    background: url(../images/icon_reddit_sm.png) no-repeat;
}

#checkbox-nytimes + label {
    background: url(../images/icon_twitter_sm.png) no-repeat;
}

.main-content {
    column-width: 360px;
    //column-gap: 15px;
    margin: auto;
}

.item {
    //background: black;
    //border: 2px solid black;
    //box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    //margin: 2px;
    //padding-right: 2px;
    border: none;
    display: inline-block;
    column-break-inside: avoid;
    max-width: 99%;
}

.item *
{
    max-width: 99%;
}
